.time-progress-bar {
  display: flex;
  align-items: center;
  height: 20px;
  padding-bottom: 15px;
  
  .progress-bar-content {
    width: 800px;
    height: 100%;
    background-color: #dedede;
    border: 1px solid #dddddd;
    border-radius: 5px;
    
    .fill-content {
      display: flex;
      height: 100%;
      border: 1px solid #3f7506;
      background: #3a8104 url('../../../assets/images/bg_green_progressbar.png') 50% 50% repeat-x;
      border-radius: 5px;
      margin-top: -1px;
      margin-left: -1px;
    }
  }

  .percent-value {
    width: 80px;
    padding: 0 0px 0 20px;
    text-align: center;
  }
}